.DS_Store
.idea
*.vcd
*.vvp
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
desktop.ini
bringup/TangNano20K/GW2AR/impl/
*.wad
*.WAD
e1m1_ssec.h
wadgfx.h
trig_q7.h
__pycache__